<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.multiplex"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name="com.example.multiplex.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.multiplex.FilmBrowseActivity"
            android:label="@string/title_activity_film_browse" >
        </activity>
        <activity
            android:name="com.example.multiplex.SeanceBrowseActivity"
            android:label="@string/title_activity_seance_browse" >
        </activity>
        <activity
            android:name="com.example.multiplex.SearchingActivity"
            android:label="@string/title_activity_searching" >
        </activity>
        <activity
            android:name="com.example.multiplex.InfoActivity"
            android:label="@string/title_activity_info" >
        </activity>
        <activity
            android:name="com.example.multiplex.FilmDetailsActivity"
            android:label="@string/title_activity_film_details" >
        </activity>
        <activity
            android:name="com.example.multiplex.SeanceSeachActivity"
            android:label="@string/title_activity_film_details" >
        </activity>
        <activity
            android:name="com.example.multiplex.FilmSearchActivity"
            android:label="@string/title_activity_film_details" >
        </activity>
        <activity
            android:name="com.example.multiplex.WaitActivity"
            android:label="@string/title_activity_wait" >
        </activity>
    </application>

</manifest>
